body {
    background-color: black;
}
@font-face {
    font-family: AdventPro;
    src: url(AdventPro-SemiBold.ttf);
}

.center-div
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
}

.todo-header {
    background-color: rgba(255, 72, 0, 0.67);
}

#todo-title-text {
    font-family: AdventPro;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

#lead-text {
    font-family: AdventPro;
    padding: 23px;
    text-align: center;
    text-decoration: underline;

}

.center {
    text-align: center;
}