body {
    background-color: black;
}
@font-face {
    font-family: AdventPro;
    src: url(AdventPro-SemiBold.ttf);
}

.center-div
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
}



.todo-header {
    background-color: rgba(255, 72, 0, 0.67);
}

#todo-title-text {
    font-family: AdventPro;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

#lead-text {
    font-family: AdventPro;
    padding: 23px;
    text-decoration: underline;

}

#todo-input {
    border: none;
    border-bottom: 2px solid rgba(255, 72, 0, 0.67);
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: AdventPro  ;
}

#todo-input:focus {
    border: none;
    border-bottom: 2px solid black;
    font-size: 30px;
}
.center {
    text-align: center;
}

.submit-todo {
    margin: 12px;
    position: relative;
    background-color: rgba(255, 72, 0, 0.67);
    color: #000000;
    border: 0;
    padding: 15px 15px 15px 15px;
    font-family: AdventPro;
    cursor: pointer;
}